body {
    background-image: url('../assets/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.right-btn {
    cursor: pointer;
}